<h1>Invoice for project <%=h @invoice.project %></h1><br />
<h2>Total price: <%=h @invoice.total_cost  %></h2>

<p>
  <b>Start date:</b>
  <%=h @invoice.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @invoice.end_date %>
</p>

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<p><h2>Billed amounts</h2>
  <ul><% @invoice.iftask.each do |task| %>
  <b><li><%= task.name %> - <%= @invoice.task_cost(task.id) %></li></b>
    <ul><% @invoice.date_cost2[task.id].each do |cost|%>
	  <li><b><%= cost.name %></b> - $<%= cost.get_cost %> - <%= cost.date %> - <i><%=h cost.type %></i></li>
	<% end %></ul>
  <% end %></ul></p>
  


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>

