<div class="span-20 last">
<p class="span-6">
	<%= form.label :first_name %><br />
	<%= form.text_field :first_name, :class => "span-6" %>
</p>
<p class="span-6">
	<%= form.label :last_name %><br />
	<%= form.text_field :last_name, :class => "span-6" %>
</p>
<div class="clear"></div>
<p class="span-4">
	<%= form.label :telephone %><br />
	<%= form.text_field :telephone, :class => "span-4" %>
</p>
<p class="span-4">
	<%= form.label :email %><br />
	<%= form.text_field :email, :class => "span-4" %>
</p>
<p class="span-4">
	<%= form.label :employee_number %><br />
	<%= form.text_field :employee_number, :class => "span-4" %>
</p>
<div class="clear"></div>

<% if can_update?(@user) %>
<p class="span-4">
	<%= form.label :active %><br />
	<%= form.check_box :active, :class => "span-4" %>
</p>
<p class="span-4">
	<%= form.label :role %><br />
	<%= form.select "role" , {'Employee' => 'employee', 'Manager' => 'manager', 'Administrator' => 'admin'}, :class => "span-4" %>
</p>
<p class="span-4">
	<%= form.label :hourly_rate %><br />
	<%= form.text_field :hourly_rate, :class => "span-4" %>
</p>
<% end %>

<div class="clear"></div>

<p class="span-5">
	<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
	<%= form.password_field :password, :class => "span-5" %>
</p>
<p class="span-5 clear">
	<%= form.label :password_confirmation %><br />
	<%= form.password_field :password_confirmation, :class => "span-5" %>
</p>
</div>