<h1>Time Tracking</h1>

<% if params[:all] %>
<h2>Hour reports</h2>
<%else%>
<h2>Recent hour reports</h2>
<%= link_to 'Show pending', hour_reports_path + "?pending=true" %>
<%= link_to 'Show rejected', hour_reports_path + "?rejected=true" %>
<%end%>
<%= render :partial => 'index' %>


<% if params[:all] %>
<%= link_to 'Back', hour_reports_path %>
<%else%>
<%= link_to 'Show all', hour_reports_path + "?all=true" %>
<br><br>
<h2>New hour report</h2>
<%= render :partial => 'form' %>
<%end%>

<%#= link_to 'New hour_report', new_hour_report_path %>
