<h1>New hour_report</h1>

<% form_for(@hour_report) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', hour_reports_path %>