<p>
  <b>Name:</b>
  <%=h @hour_report.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @hour_report.description %>
</p>

<p>
  <b>User:</b>
  <%=h @hour_report.user%>
</p>

<p>
  <b>Task:</b>
  <%=h @hour_report.task %>
</p>

<p>
  <b>Hours:</b>
  <%=h @hour_report.hours %>
</p>

<p>
  <b>Cost:</b>
  <%=h @hour_report.cost_to_s %>
</p>

<p>
  <b>Date:</b>
  <%=h @hour_report.date %>
</p>

<p>
  <b>State:</b>
  <%=h @hour_report.state_to_s %>
</p>

<% if can_approve?(@hour_report) %>
<p>
<%= link_to 'Reject', :controller => 'hour_reports', :action => 'reject', :id => @hour_report %> |
<%= link_to 'Approve', :controller => 'hour_reports', :action => 'approve', :id => @hour_report %>
</p>
<% end %>


<% if can_update?(@hour_report) %>
<%= link_to 'Edit', edit_hour_report_path(@hour_report) %> |
<% end %>
<%= link_to 'Back', hour_reports_path %>
