<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :task_id %><br />
  <%= f.collection_select :task_id, Task.all, :id, :full_name %>
</p>
<p>
  <%= f.label :date %><br />
  <%= f.date_select :date %>
</p>
