<h1>Listing project_costs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th>Task</th>
    <th>Date</th>
    <th>State</th>
  </tr>

<% @project_costs.each do |project_cost| %>
  <tr>
    <td><%=h project_cost.name %></td>
    <td><%=h project_cost.description %></td>
    <td><%=h project_cost.user_id %></td>
    <td><%=h project_cost.task_id %></td>
    <td><%=h project_cost.date %></td>
    <td><%=h project_cost.state %></td>
    <td><%= link_to 'Show', project_cost %></td>
    <td><%= link_to 'Edit', edit_project_cost_path(project_cost) %></td>
    <td><%= link_to 'Destroy', project_cost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project_cost', new_project_cost_path %>