<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Business</th>
    <th>Email</th>
    <th>Department</th>
    <th>Telephone</th>
    <th>Address</th>
	<th>Actions</th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%=h contact.name %></td>
    <td><%=h contact.business.name if ! contact.business.blank? %></td>
    <td><%=h contact.email %></td>
    <td><%=h contact.department %></td>
    <td><%=h contact.telephone %></td>
    <td><%=h contact.address.to_s %></td>
    <td><%= link_to 'Show', contact, :class => "awesome show small" %> 
    <%= link_to 'Edit', edit_contact_path(contact), :class => "awesome edit small" %>
    <%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete, :class => "awesome destroy small" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact', new_contact_path %>