<h1>Listing projects</h1>

<table>
  <tr>
	<th>Name</th>
	<th>Due Date</th>
	<th>Owner</th>
	<th>Business</th>
	<th>Actions</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
	<td><%= project.name %></td>
	<td><%= project.due_date %></td>
	<td><%= project.user %></td>
	<td><%= project.business %></td>
    <td><%= link_to 'Show', project, :class => "awesome small show" %>
	<% if can_update?(project) %>
    <%= link_to 'Edit', edit_project_path(project), :class => "awesome small edit" %>
	<% end %>
	<% if can_destroy?(project) %>
    <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete, :class => "awesome small destroy" %>
	<% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>