<% form_for(@expense) do |f| %>
<%= f.error_messages %>

<p>
  Task:<br />
  <%= f.collection_select :task_id, current_user.projects.inject([]) { |array, project| array.concat( project.tasks ) }, :id, :full_name %>
</p>

<p>
  Item:<br />
  <%= f.text_field :name %>
</p>

<p>
    Cost:<br />
    <%= f.text_field :cost %>
</p>

<p>
  Description:<br />
  <%= f.text_area :description %>
</p>

<p>
  Date:<br />
  <%= f.date_select :date %>
</p>

<p>
  <% if @expense.cost then label = 'Update' else label = 'Create' end%>
  <%= f.submit label, :class => "go" %>
</p>
<% end %>
