<table>
  <tr>
    <th>Task - Project</th>
    <th>Item</th>
    <th>Cost</th>
    <th>Date</th>
    <th>State</th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%=h expense.task.full_name %></td>
    <td><%=h expense.name %></td>
    <td><%=h expense.cost_to_s %></td>
    <td><%=h expense.date %></td>
    <td><%=h expense.state_to_s %></td>
    <td><%= link_to 'Show', expense, :class => "awesome small show" %> 
    <% if can_update?(expense) %>
    <%= link_to 'Edit', edit_expense_path(expense), :class => "awesome small edit" %> 
    <% end %>
	<% if can_destroy?(expense) %>
    <%= link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete, :class => "awesome small destroy" %>
	<% end %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New expense', new_expense_path %>
