<h1>Expenses</h1>

<% if params[:all] %>
<h2>Expenses</h2>
<%else%>
<h2>Recent expenses</h2>
<%= link_to 'Show pending', hour_reports_path + "?pending=true" %>
<%= link_to 'Show rejected', hour_reports_path + "?rejected=true" %>
<%end%>
<%= render :partial => 'index' %>


<% if params[:all] %>
<%= link_to 'Back', expenses_path %>
<%else%>
<%= link_to 'All expense', expenses_path + "?all=true" %>
<br><br>
<h2>New expense</h2>
<%= render :partial => 'form' %>
<%end%>

<%#= link_to 'New hour_report', new_hour_report_path %>
