<h1>New expense</h1>

<% form_for(@expense) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', expenses_path %>