<p>
  <b>Name:</b>
  <%=h @expense.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @expense.description %>
</p>

<p>
  <b>User:</b>
  <%=h @expense.user %>
</p>

<p>
  <b>Task:</b>
  <%=h @expense.task %>
</p>

<p>
  <b>Cost:</b>
  <%=h @expense.cost_to_s %>
</p>

<p>
  <b>Date:</b>
  <%=h @expense.date %>
</p>

<p>
  <b>State:</b>
  <%=h @expense.state_to_s %>
</p>

<p>
<%= link_to 'Reject', :controller => 'expenses', :action => 'reject', :id => @expense %> |
<%= link_to 'Approve', :controller => 'expenses', :action => 'approve', :id => @expense %>
</p>

<p>
<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
</p>
