<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>
			<%= controller.controller_name %>: <%= controller.action_name %>
		</title>
		
		
		<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">	
		<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		
		<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen">	
		
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "menu" %>
		
	</head>
	<body>
		<!--- #container start -->
		<div class="container showgrid">
			<div id="header" class="span-24 last">
				<div class="span-20">
				<h1>ECSE 321</h1>
				</div>
				<div class="span-4 last">
					<% if !current_user %> 
						<%= link_to "Log In", new_user_session_path %>
					<% else %> 
						<%= link_to "My Account", account_path %> | 
						<%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
					<% end %>
				</div>
			</div>
			
			<div class="sidebar span-4">
				<% if current_user %> 
					<% semantic_menu :id => "menu" do |root|
					  root.add "Dashboard", root_path, :class => "ss_sprite ss_application_view_tile"
					  
					  root.add "Time Tracking", hour_reports_path, :class => "ss_sprite ss_time" do |hours|
						hours.add "New Hour Report", new_hour_report_path, :class => "ss_sprite ss_time_add"
					  end
					  
					  root.add "Expenses", expenses_path, :class => "ss_sprite ss_money" do |expenses|
						expenses.add "New Expense", new_expense_path, :class => "ss_sprite ss_money_add"
					  end
					 
					  root.add "Projects", projects_path, :class => "ss_sprite ss_folder" do |projects|
						projects.add "New Project", new_project_path, :class => "ss_sprite ss_folder_add" if can_create?(Project.new)
						projects.add "Tasks", tasks_path, :class => "ss_sprite ss_application_form"
						projects.add "New Task", new_task_path, :class => "ss_sprite ss_application_form_add" if can_create?(Task.new)
					  end
										  
					  root.add "Invoices", invoices_path, :class => "ss_sprite ss_page" do |invoices|
					    invoices.add "Create Invoice", new_invoice_path, :class => "ss_sprite ss_page_add" if can_create?(Invoice.new)
					  end
					  
					
					  root.add "Contacts", contacts_path, :class => "ss_sprite ss_group" do |contacts|
						contacts.add "Add Contact", new_contact_path, :class => "ss_sprite ss_group_add" if can_create?(Contact.new)
						contacts.add "List Businesses", businesses_path, :class => "ss_sprite ss_briefcase"
						contacts.add "Add Business", new_business_path, :class => "ss_sprite ss_briefcase" if can_create?(Business.new)
					  end
					  
					  if can_view?(User.new)
					  	root.add "Users", users_path, :class => "ss_sprite ss_user" do |users| 
							users.add "Add User", new_account_path, :class => "ss_sprite ss_user_add" if can_create?(User.new)
						end
				  	  end
					  
					end %>
				<% end %>
				&nbsp;
			</div>
			<script type="text/javascript">
				var menu = new DropDownMenu($('menu'));
			</script>
			<!--- #content start -->
			<div id="content" class="span-20 last">
				
				<% [:error, :notice, :success].each do |f| %>
					<% if flash[f] %>
					<div class="span-4">&nbsp;</div>
					<div class="span-12 <%= f%>">
						<%= flash[f] %>
					</div>
					<% end %>
				<% end %>
				
				<div class="span-20 last">
					<%= yield  %>
				</div>
			
			<!-- #content end -->
			</div>
			
		<!-- #container end -->
		</div>
				
		<div id="footer" class="span-22 push-1 last"></div>
		
	</body>
</html>
